{% extends "::base.html.twig" %}

{% block title %}TestBundle:Test:index{% endblock %}

{% block body %}


<h1>Enregistrement des liens RSS</h1>


<form action="add_rss" method="post">
  Nom du site internet:
  <br>
  <input type="text" name="URL_VALEUR_NAME" placeholder="Nom">
  <br>
  <br>
  Adresse du Flux RSS:<br>
  <input type="text" name="URL_VALEUR_RSS" placeholder="lien html">
  <br>
  <input type="submit" value="Valider">
</form>
<br>
<br>

{% if Verif_Exist != "pas de donnée" %}
	{{Verif_Exist}}
	<br>
	{{Verif_RSS}}
	<br>
{% endif %}

<br>
<br>
<br>		
{% for data in file %}
	<p>
	{{ data.site }}</p>
	<p>
	{{ data.rss }}</p>
	<br>
	<br>
{% endfor %}
{% endblock %}
