<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>




<script>
	function getState(val) 
	{
		$.ajax
		(
			{
				type: "POST",
				dataType: "json",
				url: "/test/recherche_region_json",
				data:"[{\"country_id\":"+val+"}]",
				success: function(data)
				{
					while(document.getElementById("MenuDeroulantRegion") != null)
					{
						document.getElementById("state-list").removeChild(document.getElementById("MenuDeroulantRegion"));
					}
					
					for (i = 0; i <= data.data[2]; i++)
					{
						$("#state-list").append("<option id=\"MenuDeroulantRegion\" value=\""+ data.data[1][i]+"\" >"+ data.data[0][i]+"</option>");
					}
				}
			}
		);
	}

</script>


<body>

<div class="row">
	<div class="col-md-3">
		<div class="form-group">
			<label>Pays:</label>
			<br/>
			<select class="selectpicker show-tick form-control" name="country" id="country-list" onChange="getState(this.value);">
				{% for state in states %}
				    {% if state.publication == 1 %}
				    	<option value="{{ state.id }}">
				        {{ state.nom }}
				        </option>
				    {% endif %}
				{% endfor %}    
			</select>
			<br/>
			<label>Domaine:</label>
			<br/>
			<select class="selectpicker show-tick form-control" name="state" id="state-list">
			</select>
		</div>
	</div>
</div>


</body>