ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
        overflow: hidden;
        width: 100%;
}

ul.img-list li {
        overflow: hidden;
  display: inline-block;
  margin: 0 1em 1em 0;
  position: relative;
  width: 100%;
}

span.text-content span {
  display: table-cell;
  vertical-align: middle;
}


ul.img-list li:hover span.text-content {
  opacity: 1;
}

span.text-content {
font-size: 0.9em;
text-align: left;
padding-left: 5%;
padding-top: 5%;    
    height: 100%;
    width: 100%;
  background: rgba(0,0,0,0.9);
  color: white;
  left: 0;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
