.display-i {
  display: inline-block !important;
}

.form-group label {
    float: left;
    text-align: left;
    font-weight: normal;
}

.form-group select {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.form-group input {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}


ul.img-list {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  width: 100% !important;
}

ul.img-list li {
  overflow: hidden !important;
  display: inline-block !important;
  margin: 0 1em 1em 0 !important;
  position: relative !important;
  width: 100% !important;
}

span.text-content span {
  display: table-cell !important;
  vertical-align: middle !important;
}

ul.img-list li:hover span.text-content {
  opacity: 1 !important;
}

span.text-content {
  text-align: left !important;
  padding-left: 5% !important;
  padding-top: 5% !important;    
  height: 100% !important;
  width: 100% !important;
  background: rgba(0,0,0,0.9) !important;
  color: white !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  opacity: 0 !important;
  -webkit-transition: opacity 500ms !important;
  -moz-transition: opacity 500ms !important;
  -o-transition: opacity 500ms !important;
  transition: opacity 500ms !important;
}
.thumbnail {
  border-color: rgba(84,31,61,0.9) !important;
}
/******************************************************************************/
.title-rss {
  font-size: 0.9em !important;
}
.content-rss .author-rss{
  font-size: 0.8em !important;
}
/******************************************************************************/
.img-article_une {
  height:300px !important;
  width:100% !important;
  overflow:hidden !important;
}

.img-article {
  height:200px !important;
  width:100% !important;
  overflow:hidden !important;
}
