{% extends "AlastynAdminBundle::layout.html.twig" %}

{% block content %}
	<main>
		<table class="table table-striped">
			<tr>
				<th>#</th>
				<th>Nom</th>
				<th>Site web</th>
				<th>Adresse</th>
				<th>Code Postal</th>
				<th>Ville</th>
				<th>Region</th>
			</tr>
		</table>
	</main>
{% endblock %}